body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url(./main.jpg);
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-caption {
  margin-right: 600px;
  height: 800px;
  background-blend-mode: luminosity;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 30px;
  color: #ffffff;
}

}